<!DOCTYPE html>
<html>
  <head>
    <title>HatchSite</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <div class="page">
      <% flash.each do |name, msg| %>
        <p class="<%= name %>"><%= msg %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
  </html>
